################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/.vs
**/bin/*
**/obj/*
/.sonarqube

**/*.v3.ncrunchsolution
**/*.v3.ncrunchsolution.user
**/*.v3.ncrunchproject
**/*.v3.ncrunchproject.user
**/.vscode


*.js
*.js.map

*.sqlproj.user
*.ncrunchsolution.user
**/_NCrunch_*/*

*.dbmdl
*.jfm

**/*.csproj.user
**/*.dotsettings.user

**/.idea/*
**/.ionide/*

**/*.local.json
**/*.local.json.user

appsettings.Development.json

.fake
.ionide
*.log

*.DotSettings

src/Directory.Build.targets


**/MSBUILD_LOGS/*

src/**/profile.arm.json
src/**/*pubxml.user

**/nCrunchTemp*.csproj
*.pubxml.user

**/.NCrunch_*/*
